.black-and-white {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.gray{
  color: gray;
  text-decoration: none;
  padding: 0.5rem;
}

.flex{
  display: flex;
  align-items: center;
}

.carousel-control-next, .carousel-control-prev{
  background-color: #f4473a;
  height: 20%;
  width: 10%;
  cursor: pointer;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  z-index: 110;
}

.overlay{
  background-image: url(./starter-code/img/overlay.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

a:hover{
  color: #f4473a;
}

.button-slide{
  background:rgba(255,255,255,0.2);
  border: 1px solid #fff;
  padding: 0.5rem 1rem ;
  margin: 10px auto;
  font-weight: bolder;
  color: #fff;
}

#article > .container {
  background-color: #f4473a;
  color: #fff;
}

.layout{
  padding: 0.5rem;
  margin: 1rem;
  max-width: 25%;
}

span{
  padding: 1.5rem 1.7rem;
  margin-bottom: 0.5rem;
}

#content{
  margin: 3.5rem 0;
}

.space{
  margin: 2rem 0;
}

.accent-color{
  color:#f4473a;
}

.background{
  background-color: #3b3b3b;
}

.footer{
  padding: 2rem 0.5rem;
}

.decoration{
  text-decoration: none;
}

ul{
  padding:0;
  margin: 0
}